<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Todos los Dibujos</title>
    <link rel="stylesheet" href="/css/CanvasDrawStyle.css">
    <link rel="stylesheet" href="/css/DrawTable.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/CanvasDraw">CanvasDraw</a></li>
            <li class="nav-item"><a href="/UserDraw">Tus Dibujos</a></li>
            <li class="nav-item"><a href="/AllDraw">Todos Dibujos</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-user"></i> Cerrar Sesion</a></li>
        </ul>
    </nav>
</div>
<div class="container-title">
    <h1>Todos los dibujos</h1>
</div>
<table>
    <tr>
        <th>Id Imagen</th>
        <th>Nombre</th>
        <th>Fecha de Creación</th>
        <th>Fecha de Modificación</th>
        <th>Figuras</th>
        <th>Creado por</th>
        <th>Opciones</th>
    </tr>
    <tr th:each="draw : ${allDraws}">
        <td th:text="${draw.id}"></td>
        <td th:text="${draw.name}"></td>
        <td th:text="${draw.creationDate}"></td>
        <td th:text="${draw.modificationDate}"></td>
        <td th:text="${countFiguresInJson.countFiguresInJson(draw.figures)}"></td>
        <td th:text="${draw.createdByUser}"></td>
        <td>
            <div class="button-container">
                <form action="/ViewDraw" method="get">
                    <input type="hidden" name="drawId" th:value="${draw.id}" />
                    <input type="hidden" name="drawName" th:value="${draw.name}">
                    <button class="view" type="submit">View</button>
                </form>
                <div th:if="${user == draw.createdByUser}">
                    <form action="/AllDraw" method="post">
                        <input type="hidden" name="id" th:value="${draw.id}">
                        <button class="delete" type="submit">Delete</button>
                    </form>
                    <form action="/ModifyCanvas" method="get">
                        <input type="hidden" name="drawId" th:value="${draw.id}" />
                        <input type="hidden" name="drawName" th:value="${draw.name}">
                        <button class="modify" type="submit">Modify</button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
</body>

</html>
