<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/xhtml">

<head>
    <title>ModifysDraw</title>
    <link rel="stylesheet" href="/css/CanvasDrawStyle.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/CanvasDraw">CanvasDraw</a></li>
            <li class="nav-item"><a href="/UserDraw">Tus Dibujos</a></li>
            <li class="nav-item"><a href="/AllDraw">Todos Dibujos</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-user"></i> Cerrar Sesion</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <form action="/ModifyCanvas" method="post" class="canvas-form" id="Formulario">
        <h1>Modify CanvasDraw</h1>
        <p>Bienvenido a mi página.</p>
        <p>Selecciona una forma:</p>
        <select name="figureSelect" id="figureSelect">
            <option value="circle">Círculo</option>
            <option value="square">Cuadrado</option>
            <option value="triangle">Triángulo</option>
            <option value="star">Estrella</option>
        </select>

        <label for="color">Color :</label>
        <input type="color" name="color" id="color"><br>

        <label for="size">Tamaño:</label>
        <input type="range" id="size" name="size" min="10" max="100" value="20">

        <div class="checkbox-button-container">
            <input type="checkbox" id="fillFigure" name="fillFigure">
            <label for="fillFigure">Rellenar figura</label>
        </div>

        <!-- Elementos ocultos-->
        <input type="hidden" id="selectedFigures" name="selectedFiguresJson" th:value='${selectedFiguresJson}' />
        <input type="hidden" name="figures" id="figures" value="">
        <input type="hidden" name="drawId" id="drawId" th:value="${drawId}">

        <label for="drawName">Nombre de la imagen:</label>
        <input type="text" name="drawName" id="drawName" th:value="${drawName}"><br>

         <div th:if="${error}">
            <p c:class="error" th:text="${error}"></p>
         </div><br>

        <button id="sendButton">Enviar</button>
    </form>
    <div class="canvas-container">
        <canvas id="ModifyCanvas" width="400" height="300" class="canvas"></canvas>

        <div class="button-container">
            <button id="drawButton" class="button-style">Dibujar</button>
            <button id="clearButton" class="button-style">Limpiar</button>
        </div>
    </div>
    <div class="logs-container">
        <h1>Logs</h1>
        <div class="logs" id="logs">

        </div>
    </div>
</div>
<script src="/js/ModifyCanvas.js"></script>
</body>

</html>
