<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Permisos los Dibujos</title>
    <link rel="stylesheet" href="/css/CanvasDrawStyle.css">
    <link rel="stylesheet" href="/css/DrawTable.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/CanvasDraw"><i class="fa-solid fa-paintbrush"></i> CanvasDraw</a></li>
            <li class="nav-item"><a href="/AllDraw"><i class="fa-solid fa-list"></i> Todos Dibujos</a></li>
            <li class="nav-item"><a href="/TrashDraw"><i class="fa-solid fa-trash"></i> Papelera</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-user"></i> Cerrar Sesion</a></li>
        </ul>
    </nav>
</div>
<div class="container-title">
  <h1>Permisos Dibujos</h1>
</div>

<table>
      <tr>
         <th>ID</th>
         <th>Login</th>
         <th>Nombre</th>
         <th>Permisos</th>
         <th>Enviar</th>
         <th>Eliminar</th>
      </tr>
      <th:each th:each="user : ${users}">
           <tr>
              <td th:text="${user.id}"></td>
              <td th:text="${user.login}"></td>
              <td th:text="${user.name}"></td>
              <td>
                  <select name="permisos" id="permisos" class="permisos-dropdown">
                      <option value="R">Lectura</option>
                      <option value="RW">Escritura</option>
                  </select>
              </td>
              <td>
                  <form action="/ShareDraw" method="post">
                    <input type="hidden" name="drawId" th:value="${drawId}"/>
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <input type="hidden" name="permission" id="permission" value="R"/>
                    <button type="submit" class="permission">Enviar Permisos</button>
                  </form>
              </td>
              <td>
                <form action="/DeletePermissions" method="post">
                    <input type="hidden" name="drawId" th:value="${drawId}"/>
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <button type="submit" class="delete">Eliminar Permisos</button>
                </form>
              </td>
           </tr>
      </th:each>
</table>
</form>
<script type="module" src="/js/ShareDraw.js"></script>
</body>
</html>