<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Todos los Dibujos</title>
    <link rel="stylesheet" href="/css/CanvasDrawStyle.css">
    <link rel="stylesheet" href="/css/DrawTable.css">
    <link rel="stylesheet" href="/css/TrashDraw.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/CanvasDraw">CanvasDraw</a></li>
            <li class="nav-item"><a href="/AllDraw">Todos Dibujos</a></li>
            <li class="nav-item"><a href="/TrashDraw">Papelera</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-user"></i> Cerrar Sesion</a></li>
        </ul>
    </nav>
</div>
<div class="container-title">
    <h1>Papelera de dibujos</h1>
</div>
<table>
    <tr>
        <th>Id Imagen</th>
        <th>Nombre</th>
        <th>Fecha de Creación</th>
        <th>Fecha de Modificación</th>
        <th>Figuras</th>
        <th>Creado por</th>
        <th>Opciones</th>
    </tr>
    <tr th:each="draw : ${allDraws}">
        <td th:text="${draw.id}"></td>
        <td th:text="${draw.nameDraw}"></td>
        <td th:text="${draw.creationDate}"></td>
        <td th:text="${draw.modificationDate}"></td>
        <td th:text="${draw.numFigures}"></td>
        <td th:text="${draw.owner_id}"></td>
        <td>
            <div class="button-container">
                <form id="deleteForm" action="/TrashDraw" method="post">
                    <input type="hidden" name="id" th:value="${draw.id}">
                    <input type="hidden" name="action" th:value="'delete'" />
                    <button class="delete" type="button" onclick="confirmDelete()">Eliminar</button>
                </form>
                <form action="/TrashDraw" method="post">
                    <input type="hidden" name="id" th:value="${draw.id}" />
                    <input type="hidden" name="action" th:value="'restore'" />
                    <button class="restore" type="submit">Restaurar</button>
                </form>
            </div>
        </td>
    </tr>
</table>
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>¿Estás seguro que quieres eliminar?</p>
        <button class="modal-delete" onclick="deleteDraw()">Sí, eliminar</button>
        <button class="modal-cancel" onclick="closeModal()">No, cancelar</button>
    </div>
<script src="/js/TrashDraw.js"></script>
</body>

</html>
