<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tus Dibujos</title>
    <link rel="stylesheet" href="/css/CanvasDrawStyle.css">
    <link rel="stylesheet" href="/css/DrawTable.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/CanvasDraw">CanvasDraw</a></li>
            <li class="nav-item"><a href="/UserDraw">Tus Dibujos</a></li>
            <li class="nav-item"><a href="/AllDraw">Todos Dibujos</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-user"></i> Cerrar Sesion</a></li>
        </ul>
    </nav>
</div>
<div class="container-title">
    <h1>Estos son tus dibujos,<span th:text="${login}"></span>.</h1>
</div>
<table>
    <tr>
        <th>Id Imagen</th>
        <th>Nombre</th>
        <th>Fecha de Creación</th>
        <th>Fecha de Modificación</th>
        <th>Figuras</th>
        <th>Creado por</th>
    </tr>
    <tr th:each="draw : ${userDraws}">
        <td th:text="${draw.id}"></td>
        <td th:text="${draw.name}"></td>
        <td th:text="${draw.creationDate}"></td>
        <td th:text="${draw.modificationDate}"></td>
        <td th:text="${countFiguresInJson.countFiguresInJson(draw.figures)}"></td>
        <td th:text="${draw.createdByUser}"></td>
    </tr>
</table>
</body>

</html>
