<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Dibujos Usuario</title>
    <link rel="stylesheet" href="/css/ViewDraw.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/CanvasDraw">CanvasDraw</a></li>
            <li class="nav-item"><a href="/AllDraw">Todos Dibujos</a></li>
            <li class="nav-item"><a href="/TrashDraw">Papelera</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-user"></i> Cerrar Sesion</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="container-title">
        <p>Este es el dibujo, <span th:text="${drawName}"></span></p>
    </div>

    <div class="select-container">
        <p>Lista de versiones</p>
        <select id="versionSelect" onchange="updateCanvas()">
            <option th:each="version, status : ${allVersionsOfTheDraw}"
                    th:value="${version.id}"
                    th:data-figures="${version.figures}"
                    th:selected="${status.index == 0}"
                    th:text="${version.modificationDate}">
            </option>
        </select>
    </div>

    <input type="hidden" id="selectedFigures" name="selectedFiguresJson" th:value="${selectedFiguresJson}" />
    <input type="hidden" id="drawId" name="drawId" th:value="${drawId}" />

    <canvas id="ViewCanvas" class="canvas" width="400" height="300"></canvas>
    <button id="copyButton" class="copyButton">Copiar</button>

    </div>
    <script src="/js/ViewCanvas.js"></script>
    </body>

    </html>
